[mysqld]
pid-file                      = /var/run/mysqld/mysqld.pid
socket                        = /var/run/mysqld/mysqld.sock
datadir                       = /var/lib/mysql
secure-file-priv              = NULL
character-set-server          = UTF8MB4
default-storage-engine        = InnoDB
general_log_file              = /var/log/mysql/mysql-general.log
general_log                   = 1
slow_query_log                = 1
slow_query_log_file           = /var/log/mysql/mysql-slow.log
long_query_time               = 1
